@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'NeueHaasUnica';
    src: url('../../fonts/NeueHaasUnica-Bold.eot');
    src: url('../../fonts/NeueHaasUnica-Bold.woff') format('woff'),
         url('../../fonts/NeueHaasUnica-Bold.woff2') format('woff2');
}

$neueFont: 'NeueHaasUnica', 'Roboto', sans-serif;