.header-search-section{
    @include wavesSection();
    .wp-block-columns{
        .wp-block-column{
            padding-bottom: 50px;
            &:last-child{
                display: none;
                position: relative;
                z-index: 2;
            }
        }
    }
    .wc-block-product-search__fields {
        z-index: 9;
    }
    h2{
        opacity: 0.83;
    }
}
@media screen and (min-width: 900px){
    .header-search-section{
        .wp-block-columns{
            .wp-block-column{
                &:last-child{
                    display: block;
                }
            }
        }
    }
}