input{
	&[type=text], &[type=password], &[type=email] {
		&:disabled, &:read-only{
			background-color: rgba(239, 239, 239, 0.3);
	    	color: rgb(84, 84, 84, 0.3);
	    	border-color: rgba(118, 118, 118, 0.3);
		}
	}
}